## Exercice  1

On considère la liste `jours` ci-dessous. Ecrivez un code permettant d'afficher le mot `mercredi`.

In [1]:
jours = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche']

In [3]:
print(jours[2])

'mercredi'

Écrire un code permettant d'afficher tous les jours de la semaine

In [4]:
for k in jours :
    print(k)

lundi
mardi
mercredi
jeudi
vendredi
samedi
dimanche

Écrire un code permettant d'afficher tous les jours de la semaine **à l'envers**.

In [6]:
for i in range(len(jours)-1,-1,-1):
    print(jours[i])

dimanche
samedi
vendredi
jeudi
mercredi
mardi
lundi

---------

## Exercice 2

En base 5, que vaut le nombre 324 ? *(écrire un calcul ou un code donnant le résultat)*

In [7]:
int('324',5)

89

In [8]:
3*5**2+2*5**1+4*5**0

89

----------

## Exercice 3

On considère le dictionnaire `contacts` ci-dessous :  
*pensez à exécuter la ligne afin que la variable `contacts` soit bien créée.*

In [9]:
contacts = {"durand":"0687483991", "dupond": "0683751938", "martin":"0612453298"}

1. Écrire un code permettant d'afficher le numéro de téléphone de "dupond".

In [10]:
print(contacts['dupond'])

0683751938

2. Écrire un code permettant d'afficher le nom correspondant au numéro "0612453298".

In [12]:
for k in contacts:
    if contacts[k] == "0612453298":
        print(k)

martin

----------

## Exercice 4

Créer une liste `mylist` qui contient tous les nombres de 1 à 200.

In [14]:
mylist = [k for k in range(1,201)]
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

Créer une liste `mynewlist` qui contient tous les nombres de 1 à 200 qui sont divisibles par 7.

In [15]:
mynewlist = [k for k in mylist if k % 7 == 0]
mynewlist

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196]

----------

## Exercice 5

Exécutez-le code suivant : il contient une erreur qui vous sera signalée par Jupyter. Corrigez cette erreur et exécutez le code à nouveau.

In [17]:
def affine(x):
    return 2*x + 3

maliste = [2, 3, 8, 1, 6, 9, 4]
for k in range(7): # le range(8) provoquait une erreur list index
    print(affine(maliste[k]))
print("ok")

7
9
19
5
15
21
11
ok

----------

## Exercice 6

Exécutez-le code suivant : il contient une erreur qui vous sera signalée par Jupyter. Corrigez cette erreur et exécutez le code à nouveau.

In [19]:
def dichotomie(L, n) :
    deb = 0
    fin = len(L)-1
    while deb <= fin :
        cen = (deb + fin) // 2     
        val_cen = L[cen]      
        if val_cen == n :    
            return cen
        if val_cen < n :          
            deb = cen + 1
        else :
            fin = cen - 1
    return None
               
print(dichotomie([3,4,5,7,8,12],5))

2

----------

## Exercice 7

On considère une fonction `mystere(n)` dont on a mesuré les performances ci-dessous :

In [26]:
%timeit mystere(10)

4.97 µs ± 7.15 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [28]:
%timeit mystere(30)

32.9 µs ± 159 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Que peut-on supposer pour la complexité de la fonction `mystere(n)` ? (justifier)

réponse : une donnée d'entrée 3 fois plus grande provoque un temps d'exécution 7 fois plus grand, donc la complexité est sans doute quadratique, et non linéaire.

----------

## Exercice 8

Écrire une fonction `compte_voyelles(mot)` qui renvoie le nombre de voyelles que contient un mot donné en paramètre.

In [21]:
voyelles =['a','e','i','o','u','y']

def compte_voyelles(mot):
    c = 0
    for k in mot :
        if k in voyelles:
            c = c + 1
    return c

compte_voyelles('mauriac')

4

----------

## Exercice 9

Écrire un code permettant de stocker dans une liste toutes les lettres de l'alphabet, en majuscules. *(sans les écrire à la main évidemment)*.

In [24]:
alph = []
for k in range(65, 65+26) :
    alph.append(chr(k))
print(alph)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [25]:
alphabet = [chr(k) for k in range(65, 65+26)]

In [26]:
alphabet

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

----------

## Exercice 10

Écrire un code permettant de calculer la moyenne pondérée de cette liste, où les notes sont données avec leur coefficients.

In [31]:
notes = [[12,2], [15,1], [8,3], [17,2], [10,1], [13,2], [14,3]]
s = 0
c = 0
for k in notes :
    s += k[0]*k[1]
    c += k[1]
print(s/c)

12.5

----------

## Exercice 11

Écrire une fonction `compte_binaire(n)` qui renvoie le nombre de chiffres binaires nécessaires à l'écriture binaire d'un nombre `n `.  
Exemple :  `compte_binaire(5)` doit renvoyer 3, car 5 s'écrit `101` en binaire, qui comporte 3 chiffres.

In [34]:
def compte_binaire(n):
    return len(bin(n))-2

In [36]:
compte_binaire(13453)

14

----------

## Exercice 12

On considère le code suivant :

In [37]:
a = 0.1
b = 0.2
c = 0.3
print(a + b == c)

False

In [41]:
b+a

0.30000000000000004

Expliquer ce que signifie ce `False` et quel problème il révèle.

réponse : Le False signifie que 0.1+0.2 n'est pas égal à 0.3. Ce problème est dû à la gestion difficile des nombres non entiers : certains n'admettent pas de représentation correcte en machine. Des erreurs peuvent survenir.

----------

## Exercice 13

Écrire une fonction `somme(n)` qui renvoie la somme de tous les entiers naturels de 1 à $n$.  
Exemple : `somme(5)` doit renvoyer 15, car $1+2+3+4+5=15$

In [43]:
def somme(n):
    s = 0
    for k in range(1,n+1):
        s += k
    return s
somme(5)

15

----------

## Exercice 14

Le code ci-dessous permet d'afficher les triplets pythagoriciens (qui permettent donc de construire un triangle rectangle) pour des valeurs inférieures à 20.

In [1]:
for a in range(1,21):
    for b in range(1,21): 
        for c in range(1,21):
            if a**2 + b**2 == c**2:
                print("triplet trouvé :",a,b,c)

triplet trouvé : 3 4 5
triplet trouvé : 4 3 5
triplet trouvé : 5 12 13
triplet trouvé : 6 8 10
triplet trouvé : 8 6 10
triplet trouvé : 8 15 17
triplet trouvé : 9 12 15
triplet trouvé : 12 5 13
triplet trouvé : 12 9 15
triplet trouvé : 12 16 20
triplet trouvé : 15 8 17
triplet trouvé : 16 12 20

Dans les résultats ci-dessus apparaissent plusieurs triplets identiques : par exemple, le triplet 3,4,5   donnera le même triangle que le triplet 4,3,5.  
Modifier ce code pour que chaque triplet apparaisse de manière unique.

In [3]:
for a in range(1,21):
    for b in range(a,21): #b sera supérieur ou égal à a
        for c in range(b,21): #c sera supérieur ou égal à b
            if a**2 + b**2 == c**2:
                print("triplet trouvé :",a,b,c)

triplet trouvé : 3 4 5
triplet trouvé : 5 12 13
triplet trouvé : 6 8 10
triplet trouvé : 8 15 17
triplet trouvé : 9 12 15
triplet trouvé : 12 16 20